
.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr {
    margin: 0 16px;
    width: 1px;
    height: 20px;
    background-color: #222;
    opacity: 0.25;
}

.navbar>div:first-child,
.navbar>div:first-child div {
    display: flex;
    align-items: center;
}


.navbar>div:first-child {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 24px 12px 24px 0;
    border-radius: 0 0 24px 0;
    width: 260px
}

.navbar>div:first-child::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: -24px;
    top: 2px;
    background-image: radial-gradient(farthest-corner at 90% 90%,transparent 70%, #fff 30%);
}

.navbar>div:first-child::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 68px;
    background-image: radial-gradient(farthest-corner at 85% 85%,transparent 70%, #fff 30%);
}





.navbar>div:last-child {
    display: flex;
    align-items: center;
}

.navbar>div:last-child svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    z-index: 2;
}

.navbar>div:last-child button {
    width: 111px;
    height: 40px;
    border-radius: 50px;
    background-color: #222;
    border: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    z-index: 2;
}